header { 
    text-align: center;
    background-color: #B3AE3B;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}


#nav-content-container {
    background-color: lightcoral;    
    padding: 20px;
    height: 200px;
    float: left;
}

#content-area {
    background-color: lightgreen;
    height: 200px;
    padding: 20px;
    display: inline-block;
    display: flex;
    flex-direction: row;
}
#navigation-options { 
    margin: 0 auto;
}
#member-input { 
    margin: 0 auto;
}
/* 
#nav-content-container { 
    background-color: #FFFA87;
    width: 160px;
    padding: 10px;
    margin: 0px;
    display: flex;
}

#content-area { 
    text-align: center;
    background-color: #FFFA87;
    padding: 10px;
    margin: 0px;
    flex-grow: 1;
}
*/